.header {
  padding: 20px;
  margin: var(--border) var(--border) 0;
  border-radius: 10px;
  height: auto;
  background-color: var(--white-color);
}

.button {
  margin-left: auto;
}

.text {
  color: var(--white-color);
}

.divider {
  border: .5px solid var(--white-color);
}

.logo {
  margin-bottom: 10px;
}

.logoImage {
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
}

@media screen and (max-width: 500px) {
  .logoImage {
    font-size: 15px;
  }
}