.header {
  padding: 10px 20px;
  margin: 0 auto;
  border-radius: 10px;
  height: auto;
  max-width: 1440px;
  width: 100%;
}

.button {
  margin-left: 10px;
}

.logo {
  margin-bottom: 10px;
}

.logoText {
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
}

@media screen and (max-width: 500px) {
  .logoText {
    font-size: 15px;
  }
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.logoImage {
  width: 30px;
}

.icon {
  width: 20px;
  height: 20px;
  object-fit: con;
  object-position: center;
}