.header {
  padding: 10px 20px;
  margin: 0 auto;
  border-radius: 10px;
  height: auto;
  max-width: 1440px;
  width: 100%;
}

.button {
  margin-left: 10px;
}

@media screen and (max-width: 500px) {
  .button {
    margin-left: 10px;
    font-size: 15px !important;
  }
}


@media screen and (max-width: 500px) {
  .logoWrapper {
    justify-content: space-between;
  }
}

@media screen and (max-width: 500px) {
  .logo {
    flex: 0 1 auto !important;
    max-width: 40px !important
  }
}

.logoText {
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
}

@media screen and (max-width: 500px) {
  .logoText {
    font-size: 15px;
  }
}

@media screen and (max-width: 500px) {
  .buttonWrapper {
    flex: 0 1 auto !important;
    max-width: 170px !important;
    flex-wrap: nowrap;
  }
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.logoImage {
  width: 30px;
}

.icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
  object-position: center;
}